html,body{
	font-family: "Microsoft YaHei" !important;
}/*全局的微软雅黑字体*/

	


/*navbar*/
.navbar-default{
	background-color: black;
	border-color: black;
}

.container_wapper{

}


.index_navbar .container {
	margin-left: 0px;/*nav的左边距*/
	padding-left: 0px;/*nav的内容左边距*/
}

#templatemo_banner_top{
	height: 67px;/*nav的上边距*/
	background-color: black;/*nav的背景颜色*/
}

/*navbar_logo*/
.index_navbar_logo{
	margin-top:1.8px;
	margin-left: 25px;
	padding: 0px;
	width: auto;
	height: auto;
	display: inline-block;
}

	.index_navbar_logo_img{
		width: 70px;
	}

/*navbar_title*/
.index_navbar_title{
	color:white;
	margin-top: -7.5px;
	margin-bottom: 0px;
	padding:0px;
	height: 67px;
	width: auto;
	display: inline-block;
}

	.index_navbar_title h2{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.index_navbar_title h5{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.index_navbar_title h2{
		margin-top: 18px;
	}

/*navbar_section*/


.navbar_section_first{
	margin-left: 40px;
}

.navbar_section_hide{
	background-color: black;
	height:65px;
}

.navbar_section_show{
	background-color:#666666!important ;
	height:65px !important;
}


/*navbar_end*/



/*templatemo_upcomming_event*/
#templatemo_upcomming_event{
	height: 900px;
}

.test1{
	background-color: #fff !important;
	background-image: none !important;
}




/*templatemo_footer*/
.templatemo_footer_edit{
	height: 125px;
}


.fa_btw{
	margin: 1% 1.2% 0 !important;
}

.fa_special{
	padding:0.45% 0.28% !important;
}


.introduction{
	color: white;
	width:100%;
	height:100%;
	background-image:url("../images/cover_02.jpg");
	background-attachment:fixed;
	background-size:cover;
	overflow:hidden;
}

.introduction h1{
	text-align: center;
	padding-top:3%;
}

.introduction div{
	text-align:center;
}

.introduction img{
	width:16%;
	height:300px;
	background-color:white;
	border:2px solid;
	border-radius:50%;
	margin:6% 6% 8%;

}



/*index-classmate*/
.index-classmate{
	height:430px;
	width:100%;
}
	
	.index-main{
		height:100%;
		width:90%;
		margin: 0 100px;

	}

		.scroll_div{
			height:100%;
			width:100%;
			text-align: center;
		}

			.pic-content{
				height: 370px;
				width:100%;
			}

			.user-head img{
				height:64px;
				width:64px;
				border:2px solid #949799;
				border-radius:50%;
				display: inline-block;
				margin-top:48px;

				text-align: center;
				vertical-align:middle;

			}

			.user-head h3{
				color:#07111b;
				font-size:18px;
				line-height:36px;
				font-weight:400;
				margin-top:20px;
			}

			.user-head p{
				color:#93999f;
				line-height:36px;
				font-size:14px;
			}

				.pic-content-all{
					height: 370;
					width:100%;
				}




			.pic-btn{
				height:5%;
				width:10%;
				margin: 0 45%;
				overflow: hidden;
				text-align: center;
			}

				.pic-btn div{
					display:inline-block;
					margin:5% 2%;
					border-radius:25px;
					width:6%;
					height:50%;
					background-color: #d5d8db
				}



/*instruction_design*/
.id_header{
	text-align:left;
	width:auto;
	height:auto;
	margin:7% 12% 0.5%;
	border-bottom:2px solid;
	border-color: #d0d6d9;
}

.id_select_course{
	width:auto;
	height:auto;
	margin:0.5% 12%;
	border-bottom:2px solid;
	border-color:#edf1f2;
}

.id_select_course h5{
	display:inline-block;
	margin-right:0;
}

	.id_select_course a{
		font-size:12px;
		text-decoration: none;
		color:black;
		padding: 0.3% 0.3%;
		margin: 0.8% 1%;
		transition:0.2s ease-out;
		-moz-transition:0.2s ease-out;
		-webkit-transition:0.2s ease-out; 
	}

		.id_select_course a:hover{
			color:white;
			background-color:#666666;
			cursor:pointer;/*将鼠标的手型变成手掌*/
		}

#course_list_array{
	display:inline-block;
	height:auto;width:90%;
}

#content_list{
	width:auto;
	height:auto;
	margin:1% 12% 2%;
}

	#content_list img{
		width:auto;
		text-align:left; 
	}






.course_hide{
	display: none !important;
}

.hide{
	display: none !important;
}

.show1{
	color:white !important;
	background-color: #666666;
}/*章节的点击样式*/



#content_list h3{
	display: none;
	opacity:0;
	filter:alpha(opacity=0);
}

#content_list h3.cur{
	display:inline-block!important;
	opacity:1;
	filter:alpha(opacity=100);
}


#course_list div.cur a{
	background-color:#666666 !important;
}



.section_array{
	display: inline-block;
	width:350px;
	height: 220px;
	color:white;
}

.section_array:hover{
	background:url(../images/5.png) !important;
}


	.section_array a{
		text-decoration: none;
	}
	.section_array h5{
		opacity:0;
		filter:alpha(opacity=0);
		color:white;
		margin:0;
		padding:22% 7%;
		font-size:18px;
		text-align: left;
		transition:0.4s ease-out;
		-moz-transition:0.4s ease-out;
		-webkit-transition:0.4s ease-out; 

	}

	.section_array h5:hover{
		opacity:1; 
		filter:alpha(opacity=100);

	}











.cr_ppt_content div{
	display: inline-block;
}

.cr_ppt_content a{
	font-size: 15px;
	text-align: center;
	color:white;
	text-decoration:none;
	display: block;
	padding:0;
	margin:0;
	opacity:0;
	filter:alpha(opacity=0);
	transition:0.4s ease-out;
	-moz-transition:0.4s ease-out;
	-webkit-transition:0.4s ease-out;


}

	.cr_ppt_content div:hover a{
		opacity:1;
		filter:alpha(opacity=100);
	}

	.cr_ppt_content a:first-child{
		margin-top:25%;
	}


.cr_other_title div{
	display: inline-block;
}

.cr_other_title a{
	font-size: 15px;
	text-align: center;
	color:white;
	text-decoration:none;
	display: block;
	padding:0;
	margin:0;
	opacity:0;
	filter:alpha(opacity=0);
	transition:0.4s ease-out;
	-moz-transition:0.4s ease-out;
	-webkit-transition:0.4s ease-out;


}

	.cr_other_title div:hover a{
		opacity:1;
		filter:alpha(opacity=100);
	}

	.cr_other_title a:first-child{
		margin-top:25%;
	}





/*team_introduction*/
.ti_array{
	display: block;
	width:auto;
	height:220px;
	margin:5% 22%;
	border:4px solid;
}

	.ti_array h1{
		margin:0;
		padding:0;
		color:rgb(118,113,113) !important;
		font-size:26px;
	}

	.ti_array h5{
		line-height: 25px;
		color:rgb(118,113,113) !important;
		font-size:18px;
	}

	.ti_section_6{
		border-color:rgb(255,230,153);
		background-color: rgb(255,242,204);
	}

	.ti_section_5{
		border-color:rgb(248,203,173);
		background-color: rgb(251,229,214);
	}	

	.ti_section_4{
		border-color:rgb(189,218,238);
		background-color: rgb(207,226,243);
	}

	.ti_section_3{
		border-color:rgb(197,224,180);
		background-color: rgb(234,244,228);
	}

	.ti_section_2{
		border-color:rgb(189,215,238);
		background-color: rgb(232,241,249);
	}

	.ti_section_1{
		border-color:rgb(197,224,180);
		background-color: rgb(226,240,217);
	}

	.ti_section_7{
		border-color:rgb(251,229,214);
		background-color: rgb(253,242,234);
	}

.ti_img{
	display: inline-block;
	height: 130px;
}



/*test*/
.ti_img_test{
	display: block;
	width: 800px;
}



/*course_analysis*/
.course_a_content h1{
	line-height: 200% ;
	margin-top:0;
	margin-bottom: 0;
}
.course_a_content h2{
	line-height: 200% ;
	margin-top:0;
	margin-bottom: 0;
}
.course_a_content h3{
	line-height: 200% ;
	margin-top:0 ;
	margin-bottom: 0;
}
.course_a_content h4{
	line-height: 200% ;
	margin-top:0 ;
	margin-bottom: 0;
}
.course_a_content h5{
	line-height: 200% ;
	margin-top:0 ;
	margin-bottom: 0;
}
 /*将所有字体上下间距取消*/



.level_1{
	font-weight: bold;
	font-size:24px !important;
}

.level_2{
	font-weight: bold;
	text-indent: 1.54em;
	font-size:19px !important;
}

.level_3{
	font-weight: bold;
}

.section_four h5{
	line-height: 200%;
}

.level_content h5{
	text-indent: 2em;
	font-size:15px !important;
	line-height: 200%;
}
























	










